* {
  box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;
  /* font-family: 'Playfair Display', serif; */
  /* border: solid black 1px; */
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}

section {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* NAVIGATION */
#main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: no-wrap;
  width: 100%;
  justify-content: flex-end; 
}

#main-nav {
 display: flex;
 width: 100%; 
}

 li, .nav-i {
  margin-right: 2%;
}


h1 {
  font-size: 4rem;
  line-height: 140%;
  margin-top: 0;
}
p, span, li {
  font-size: 1.2rem;
}

.sub-header {
  color: orange;
  font-weight: 700;
  margin-top: 20px;
}


/* SECTIONS */
.top-section {
  height: 500px;
  width:100%;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url('../assets/foodjpg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 713px;
}

.welcome {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* SEARCH BAR/BUTTON */ 
.button-field {
  border:#c0acf2 solid 2px;
  box-shadow: 10 0 0 0px;
  color: white;
  
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 6%;
  max-width: 50%;
  margin-bottom: 20%;
}

.search-icon {
  align-self: center;
 justify-content: center;
  height: 100%;
  padding: 5%;
  background-color: #c0acf2;

}

input {
  border:none;
  height: 100%;
  width: 70%;
  padding: 0 4%;
}

button {
  background-color: #c0acf2; /* Green */
  border: none;
  color: white;
  padding:0px 4%;
  height: 100%;
  width: 30%;
  align-items: center;
  text-align: center;
  text-decoration: none;
}


.second-section {
  width: 100%;
  flex-grow: 1;
  align-items: flex-end;
  background-image: url('../assets/food6.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 713px;
}

.about-us {
  /*   width: fit-content; */
    width: 80%;
  }

.third-section {
  background-color: #f0eff3;
}

#speciality-items ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 100%;
  justify-content: center;
  padding: 0;
  border-bottom: transparent solid 3px;
}

#speciality-items ul li {
padding-bottom: 5px;

}

#speciality-items ul li:hover {
  border-bottom: #c0acf2 solid 3px;
}


.gallery {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

.gallery-image {
  flex-wrap: wrap;
  flex-grow: 1;
  height: 250px;
  width: 250px;
  margin: 20px;
}

.g-img1 { 
  background: url(../assets/article1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.g-img2 { 
  background: url(../assets/img10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.g-img3 { 
  background: url(../assets/Foodjpg7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.g-img4 { 
  background: url(../assets/img11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.g-img5 { 
  background: url(../assets/food5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.g-img6 { 
  background: url(../assets/img8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}.g-img7 { 
  background: url(../assets/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.g-img8 { 
  background: url(../assets/img9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



.order-online {
  margin-top: 50px;
}

.fourth-section {
  padding-top:8%;
  padding-bottom:8%;
  width: 100%;
  height:auto;
  background: rgb(240,239,243);
  background: linear-gradient(0deg, rgba(240,239,243,1) 82%, rgba(213,208,216,0.593952483801296) 100%);
}

.call{
 margin: 0 auto;
 color: orange;
 font-size: 2rem;
}

.number {
  font-size: 2rem;
}
.txt-card {
 width: 70%;
 display: flex;
 margin: auto;
}

.txt {
  width: 60%;
  text-align: center;
  padding: 5%;

}
.txt-span {
  flex: 1;
  justify-items: center;
}
.bold {
  font-weight:bold;
}

video {
  margin: auto;
  min-width: 70%;
  max-width: 100%;
}

.left-text {
  margin-left: 10%;
  display: flex;
  align-self: flex-start;
  max-width: 30%;
}
.centered-text {
  display: flex; 
  text-align: center;
  align-self: center;
  max-width: 80%;
}

.right-text {
  justify-content: flex-start;
  display: flex;
  align-self: flex-end;
  max-width: 50%;
  margin-right: 2%;
}

/* TESTIMONIAL SECTION */
#testimonials {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	margin: 25px 0 50px;
}
#testimonials::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #ffdc12;
	left: 0;
	right: 0;
	bottom: -10px;
}
.carousel {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 50px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
}
.carousel .item a {
	color: #eb7245;
}
.carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {	
	padding: 30px 0 10px;
}
.carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
.carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.carousel .carousel-control {
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: #999;
    text-shadow: none;
	top: 4px;
}
.carousel-control i {
	font-size: 20px;
	margin-right: 2px;
  margin-top: 5px;
}
.carousel-control.left {
	left: auto;
	right: 40px;
}
.carousel-control.right i {
	margin-right: -2px;
  margin-top: 5px;

}
.carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border-color: transparent;
}
.carousel-indicators li.active {
	border: none;
	background: #888;		
}
.list-inline {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

@media (max-width: 400px) {

    p, span, li {
      font-size: 1rem;
    }
    
  .second-section p h2  {
    display: flex; 
    align-items: left;
    max-width: 80%;
  }
  .gallery {
    width: 100%;
  }
  .button-field {
    max-width: 60%;  }

  button {
    width: 35%;
  }
  }
 

@media (max-width: 650px) {

  * {
    justify-content: center;
  }
  
  .top-section, .second-section {
    min-height: auto;
  }
  .search-icon {
    padding: 2%;
  }
 .centered-text {
    text-align: center;
  }
  h1 {
      
      font-size: 2.5rem;
       width: fit-content;
  }
  .right-text {
    max-width: 70%;
    margin-right: 2%;
  }
  
  .left-text {
    margin-left: 15%;
    display: flex;
    align-self: flex-start;
    max-width: 55%;
  }

  .welcome {
    margin-bottom: 0;
  }
  
  p, span, li {
    font-size: 1rem;
  }
  

};


/* @media (min-width: 1000px) {
  h1 {
      
      font-size: 2.9rem;
       width: fit-content;
  }
  .right-text {
    max-width: 70%;
  }
  .section-text {
    max-width: 90%;
    margin-right: 3%;
  }
 
};

@media (min-width: 1001px) {

  h1 {
    font-size: 2rem;
  }
  .left-text h1 {
    max-width: 20%;
    margin-left: 10%;
  }

  .right-text {
    margin-right: 10%;
  }
}
 */
